<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Hackathon</title>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- font awsome cdn -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- custom css -->
<!-- <link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/utilities.css">-->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <link rel="stylesheet" href="css/bootstrapp.css">
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="css/styling.css">
<style>
  body{
    background-color:#C4D7E0;
}
</style>
</head>

<body>
  <div class="row">
    <div class="col-sm-3">
        <img class="logo" src="images/logo.jpg">
    </div>
        <div class="col-sm-6  red">
            <h1 >Thadomal Shahani Engineering College</h1>
            <p>W, P. G. Kher Marg, (32nd Road, Marg, Off Linking Rd, TPS III, Bandra West, Mumbai, Maharashtra 400050</p>
        </div>
    </div>
    <header class ="header">
        <nav class ="navbar navbar-style">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle ="collapse" data-target="#micon">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
              </button>
            
            <div class ="collapse navbar-collapse" id="micon">
            <ul class="nav navbar-nav navbar-left">
              <li><a href="/home">Home</a></li>
             
            
              <li><a href="/score">Score</a></li>
              <li><a href="/progress">Progress</a></li>
            </ul>
          </div>
          </div>
  </div>
</nav>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-5 " id="pp">
      <p class="big-text">Student-Teacher Portal </p>
      <p class="large">The purpose of schools is to prepare students with promise to enhance their intellectual, physical, social, emotional, spiritual and artistic growth so that they may realize their power for good as citizens</p>
      <!-- <a role="button" class="btn btn-info"  href="/login">Login</a>
      <a role="button" class="btn btn-info"  href="/adminlogin">Admin Login</a> -->
       </div>
       <div class="col-lg-6" id="redy">
        <img src="images/Student.png" class="img-responsive">
       </div>
  </div>
</div>

