

    <%- include('partials/header') %>

<div class="container">
  <div class="row">
    <div class="col-lg-5 banner-info">
      <p class="big-text">Student-Teacher Portal </p>
      <p class="large">The purpose of schools is to prepare students with promise to enhance their intellectual, physical, social, emotional, spiritual and artistic growth so that they may realize their power for good as citizens</p>
      <a role="button" class="btn btn-info"  href="/login">Login</a>
      <a role="button" class="btn btn-info"  href="/adminlogin">Admin Login</a>
       </div>
       <div class="col-lg-6 banner-image">
        <img src="images/Student.png" class="img-responsive">
       </div>
  </div>
</div>

   
   
 
      <%- include('partials/footer') %>