
  <%- include('partials/header') %>
 <div >
    <h1 class="title"> Academics </h1>
</div>
<br>
<br>
<div>
    <p class="subtitle"> Internal Assessment Record </p>
</div>
<div class="col-sm-6">
    <table style="width:100%">
        <tr>
          <th>Subject</th>
          <th>Test-1</th>
          <th>Test-2</th>
          <th>Average(out of 20)</th>
        </tr>
        <tr>
          <td>Artificial intelligence</td>
           <td>12</td>
            <td>20</td>
            <td>16</td>
        </tr>
        <tr>
          <td>Datawarehouse and mining</td>
          <td>11</td>
          <td>18</td>
          <td>15</td>
        </tr>
        <tr>
            <td>Statistics</td>
            <td>14</td>
            <td>16</td>
            <td>15</td>
          </tr>
          <tr>
            <td>Web computing</td>
            <td>17</td>
            <td>18</td>
            <td>18</td>
          </tr>
          <tr>
            <td>Computer networks</td>
            <td>20</td>
            <td>19</td>
            <td>20</td>
          </tr>
      </table>
<br>
<br>
<div>
    <p class="subtitle1"> Assignment Test Record </p>
</div>
<div class="col-sm-8">
    <table style="width:100%">
        <tr>
          <th>Subject</th>
          <th>Assignment Marks(out of 20)</th>
        </tr>
        <tr>
          <td>Artificial intelligence</td>
          <td>20</td>
        
          
        </tr>
        <tr>
          <td>Datawarehouse and mining</td>
          <td>18</td>
          
        </tr>
        <tr>
            <td>Statistics</td>
            <td>20</td>
            
          </tr>
          <tr>
            <td>Web computing</td>
            <td>20</td>
            
          </tr>
          <tr>
            <td>Computer networks</td>
            <td>18</td>
            
          </tr>
      </table>
</div>

<%- include('partials/footer') %>